*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('../css/bien.css');
.product__item{
    background-color: rgb(255, 255, 255);

    width: 100%;
    margin-right: .1%;
    overflow: hidden;

   position: relative;
  
    
}
.product__item .btn{
    border: 1px solid black;
    background-color: var(--font--color);
    color: white;
    border-radius: 20px;
}

.product__item .btn:hover{
    border: 1px solid black;
    background-color: var(--font--color);
    color: white;  
}
.product__banner_hot{
    
    background-image: url('../img/banner/x.jpg');
    padding: 50px 20px;
    border-radius: 10px;
    position: relative;
}

#product .product__item.product__bt{
    width:212px; 
    height: 315px;
}
 .product__bt{
    width:212px; 
    height: 315px;
}
.product___hot{
    width: 250px;
    height: 350px;
}
.product__box{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    
    width: 100%;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.khung_product{
    display: flex;
    gap: 10px;
    transition: 0.5s ease;
}

.product__title {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
   font-weight: bold;
}
.product__title a{
    font-weight: 400;
}
.product .row{
    margin: 0;
}
.product__item .product__img{
    width: 100%;
}
.product__item .product__img img{
    width: 100%;
}
.product__item .count{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 1px 12px;
    font-weight: bold;
}
.product__item .new{
    position: absolute;
    top: 40px;
    left: 10px;
    background-color: rgb(0, 255, 76);
    color: white;
    padding: 1px 14px;
    font-weight: bold;
}
.product__item .icons{
position: absolute;
top: 20px;
right: 15px;
opacity: 0;
display: flex;
flex-direction: column;
transition: all .5s;
}
.product__item .icons a{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    line-height: 21px;
    text-align: center;
    margin-bottom: 4px;
transition: all .5s;
}
.product__item .icons a:hover{
    color: var(--font--color);
}
.product__item:hover .icons{
    opacity: 1;
    top: 5px;
}
.product__item .product__text h3{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Ruda', sans-serif;
}
.product__item .icons{

}
.product__item .product__text .stars{
<<<<<<< HEAD
<<<<<<< HEAD
    font-size: 10px;
=======
    font-size: 11px;
    
}
.product__item .product__text .stars i{
    color: #FFCE31;
    font-size: 13px;
}
.product__item .product__text .price{
    color: #fb6f92;
>>>>>>> devVinh
=======
    font-size: 10px;
>>>>>>> main
    
}
.product__item .product__text .stars i{
    color: #FFCE31;
    font-size: 13px;
}
.product__item .product__text .price{
    color: red;
    
}
.product__item .product__text .price span{
    color: grey;
    text-decoration: line-through;
font-size: 13px;}
.product__item .product__text{
  z-index:111px;
position: relative;
bottom: 0;
background-color: white;
transition: all .5s;
padding: 0 10px;
}

.product__item:hover .product__text{
    bottom: 50px;
}
.product__item .product__text .check{
    font-size: 12px;
    color: #57E923;
}
.product .row >*{
    padding: 0;
    margin: 0;
}
/* san pham cac loai */

.products__right{
    width: 100%;
}
.products__right__top{
    background-color: white;
    display: flex;
    justify-content:space-between ;
    padding: 10px 10px;
    }
.container-md{
    --bs-gutter-x:0
}
/* nút */
.nut_one,
.nut{
    position: absolute;
    color: rgb(255, 0, 0);
   top: 50%;
    
    width: 97%;
    font-size: 23px;
    cursor: pointer;
}
.nut_one{
    width: 100%;
    top: 45%;
}
.nut_one .next,
.nut .next{
 position: absolute;
 left: 10px;
 width: 38px;
 height: 38px;
 text-align: center;
 border-radius: 50%;

 border: 1px solid black;
 
}
.nut_one .pre,
.nut .pre{
    position: absolute;
right: 10px;
width: 38px;
height: 38px;
text-align: center;
border-radius: 50%;
border: 1px solid black;
}

.dots{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.dots .dot__item{
    width: 11px;
    height: 11px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    margin-right: 4px;
    cursor: pointer;
    transition: 0.5s ease;
}
.dot__item.active{
    background-color:red;
}

@media (min-width:300px){
    #desktop__left{
        display: none;
    }
    .mobile__left{
   
    }
    .transition__product{
     
         transform: translateX(-100%);
    }
    #mobile__left{
        display: block;
        background-color: rgb(255, 0, 0);
        width: 100%;
    }
    #desktop__right{
        display: none;
    }
    #mobile__right{
        display: block;
    }
#mobile__left .products__left{
    background-color: white;
    box-shadow: 0 0 10px black;
width: 320px;
position: fixed;
top: 0;
left: 0;
height: 100vh;
z-index: 111111111;

}
#mobile__left .products___title{
    border-bottom:1px solid black ;
    background-color: var(--font--color);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mobile__left .products__item{
    padding: 0 20px;
}
}
@media (min-width:1300px){
    #desktop__left{
        display: block;
    }
    #mobile__left{
        display: none;
    }
    #desktop__right{
        display: block;
    }
    #mobile__right{
        display: none;
    }
    /* san pham ben trai */
    .products__flex{
        display: flex;
    }
    #desktop__left{
        width: 20%;
        background-color: white;
        padding: 10px 15px;
        margin-right: 2%;
    }
    .group__fl,
    .group__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    .products__item h3{
        font-size: 15px;
    }
    .group__fl{
        font-size: 18px;
    
        
    }
    
    .productss__item{
        display: flex;
    
    }
    .productss__item .product__text{
        font-size: 14px;
        font-weight:bolder;
    }
    .colors .tron{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    
    }
}

@media (max-width:1500px){
    .product__bt{
        width: 180px;
    }
    #products .product__bt{
        height: 300px;
    }
    
}
@media (max-width:1000px){
    .product .d-flex .img{
        display: none;
    }
    #products .product__bt,
    .product__bt{
        width: 230px;
        height: 335px;
    }
    
 
}
@media (max-width:767px){
    
    

    .product___hot{
        width: 310px;
        height: 410px;
    }
    #product .product__item.product__bt,
    .product__bt{
        width: 170px;
        height: 310px;
    }
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> main
    .products__right__top form{
        display: none;
    }
}
@media (max-width:500px)  {
    #khung_product_three .product__bt{
        width: 250px;
        height: 350px;
    }
    #product .product__item.product__bt,
    .product__bt{
        width: 49%;
        height: 305px;
    } 
}
@media (max-width:420px) {
    #product .product__item.product__bt,
    .product__bt{
        width: 49%;
        height: 315px;
    } 
}
@media (max-width:400px){
    
    .product__item .product__text .stars{
        font-size: 9px;
    }
    #product .product__item.product__bt,
   .product__bt{
        width: 49%;
        height: 300px;
    }
    .product__title p{
        font-size: 15px;
    }
}
@media (max-width:330px){
    
    #product .product__item.product__bt,
     .product__bt{
          width: 49%;
          height: 285px;
      }
      .product__title p{
        font-size: 13px;
    }
  }
<<<<<<< HEAD
=======
}
@media (max-width:400px){
    .product__bt{
        width: 49%;
        height: 310px;
    }
}
>>>>>>> devVinh
=======
>>>>>>> main
