
@import url('../css/products.css');
@import url('../css/product.css');
@import url('../css/dangnhap.css');
@import url('../css/user.css');
<<<<<<<< HEAD:template/banhang/css/style.css
@import url('../css/cart.css');
@import url('../css/bien.css');

========
>>>>>>>> 8146f052da5538020f6363259d7677b9c91da0b3:banhang/css/style.css
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f5f6;
}
p{
    margin-bottom: 0;
}
a{
    color: black;
    text-decoration: none;
}
header{
    background-color: white;
}
.header__desktop{
    background-color: white;
}
.header__top{
        border-bottom: 1px solid black;
        padding: 5px 0;
    text-align: center;
    }
    .header__top_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    }
    .header__top_icon {
       text-align: center;
    }
    .header__main {
    
       
      border-bottom: 1px solid black;
    
    }
 .header__main form .submit{
        height: 40px;
        padding: 0 20px;
        background-color: #fb6f92;
        border: 1px solid #fb6f92;
        color: white;
        box-shadow: 0 0 2px rgba(0,0,0,.5);
    } 
    .header__main form .search{
    width: 82%;
    height: 40px;
    outline: none;
    padding: 0 20px;
    }
    main{
        position: relative;
        top: 20px;
    }
    .carousel{
        position: relative;
    }
    .danhmuc{
        background-color: white;
        
        width: 21%;
    }
    ul{
        padding-left: 0;
    }
    .danhmuc nav ul li{
        width: 100%;
        list-style: none;
        padding: 5px 10px;
        border-bottom: 1px solid black;
        font-size: 15px;
    }
    .banner{
        margin-left: 3%;
        width: 76%;
    }
    .banner img{
        width: 100%;
    }
    .banner .carousel-caption{
        top: 0;
    }
    .banner__bottom{
        width: 100%;
        display: flex;
    }
    .banner__bottom .img__banner{
        width:33.33%;
        margin-top: 5px;
       
       margin-right: 1%;
        position: relative;
    }
    .product__banner_hot >h1{
        font-family: 'Play', sans-serif;
    }

    .banner__bottom .img__banner img{
        width: 100%;
    }
    .banner__bottom .img__title{
        position: absolute;
        padding: 20px 20px;
        width: 70%;
        transform: scale(1);
       transition:all .5s;
    }
    .banner__bottom .img__title h3{
        font-size: 20px;
    }
    .banner__bottom .img__title p{
        font-size: 16px;
    }
    .banner__bottom .img__banner {
        width: 100%;
     
    }
    .banner__bottom .img__banner:hover{
        transform: scale(1.1);
    }
    .shippy{
        margin-top: 10px;
    }
    .shippy__box{
        display: flex;
        background-color: white;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px 20px;
    }
    .shippy__item{
        display: flex;
        gap: 10px;
      margin: 10px 0;
    }
    .shippy__item i{
        font-size: 25px;
        color: #fb6f92;
    }
    .shippy_itemd h3{
        font-size: 15px;
        margin-bottom: 0;
<<<<<<<< HEAD:template/banhang/css/style.css
        
        font-weight: bold;
        font-family: 'Ruda', sans-serif;
    }
    .shippy_itemd p{
        font-family: 'Ruda', sans-serif;
    }
    .shippy__item p{
        font-size: 12px;
        color: var(--font--color);
========
        color: #fb6f92;
>>>>>>>> 8146f052da5538020f6363259d7677b9c91da0b3:banhang/css/style.css
    }
    .blog__box{
        display: flex;
        flex-wrap: wrap;
    }
    .blog__item{
        width: 24%;
        margin-right: 1%;
        background-color: #fff;
    }
    .blog__item .blog__header{
        width: 100%;
    }
    .blog__item .blog__header img{
        width: 100%;
    }
    .blog__item .blog__body{
        padding: 5px 15px;
        border-bottom: 1px solid black;
        font-family: 'Ruda', sans-serif;
    }
    .blog__item .blog__body h3{
        font-size: 20px;
    }
    .blog__item .blog__body h4{
        font-size: 14px;
        color: grey;
     }
     .blog__item .blog__body p{
        font-size: 15px;
     }
     .blog__item .blog__footer{
        padding: 5px 15px;
        display: flex;
        justify-content: space-between;
        font-family: 'Ruda', sans-serif;
     }
     /* footer */
    footer{
        background-color: #fff;
        padding: 10px 0;
    }
.row{
    margin: 0;
    --bs-gutter-x:0
}
<<<<<<<< HEAD:template/banhang/css/style.css
 
    .footer__item h3{
        font-size: 16px;
        font-weight: bold;
    }
.footer__bottom .row .col-12 h2{
text-align: center;
font-size: 24px;
}
.footer__bottom .row h3{
font-size: 20px;
}
.footer__bottom{
    padding: 20px 0;
}
footer{
    background: url('../img/banner/footer.png');
    color: white;
    padding-top: 40px;
}
.footer__bottom i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    margin-right: 4px;
    cursor: pointer;
    margin-top: 5px;
    border:1px solid white;
    transition: all .5s;
}
.footer__bottom .col-4 i:hover{
    background-color: white;
    color: var(--font--color);
   }
    /*  contact */ 
    .nut_chinh{
        width: 100%;
        font-size: 20px;
        background: var(--font--color);
        color: white;
        border: none;
        box-shadow: 2px 2px 4px rgba(0,0,0,.3);
        transition: all .5s;
    }
    .nut_chinh:hover{
        background: transparent;
        color: var(--font--color);
        border: 1px solid var(--font--color);
    }
    .contact__left{
        padding-right: 50px;
    }
    .contact__left form .form__group p{
        color: var(--font--color);
        font-weight: bold;
    }
    .contact__bottom{
        background-color: #fff;
        padding: 30px 40px;
    }
  
    .contact__left input{
        height: 50px;
        outline: none;
        padding: 0 20px;
        border-radius: 10px;
        border: 1px solid #2b20a16e;
    }
    .contact__left textarea{
        border-radius: 10px;
        border: 1px solid #2b20a16e;  
    }
    .contact__left .group_flex .form__group>input{
        width: 96%;
    }
   .contact__right .contact__title h4{
    font-size: 18px;
    margin-bottom:0;
    color: var(--font--color);
    
   }
   .contact__right .contact__title i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    margin-right: 4px;
    cursor: pointer;
    margin-top: 5px;
    border:1px solid var(--font--color);
    transition: all .5s;
   }
   .contact__right .contact__title i:hover{
    background-color: var(--font--color);
    color: white;
   }
   .header__menu{
    background-color: var(--font--color);
    color: white;
   }
   .menu__item ul li a{
    color: white;
   }
   .contact h1,
   .contact h2{
    color: var(--font--color);
    font-family: 'Play', sans-serif;
   }
========
 .footer__top{
    border-bottom: 1px solid black;
 }
    .footer__box .footer__item{
        
    }
    
>>>>>>>> 8146f052da5538020f6363259d7677b9c91da0b3:banhang/css/style.css
 @media (max-width:998px) {
  .header__main .container{
        width: 90%;
        margin: 0 auto;
    }
    .header__main{
        padding: 10px 0;
    }
.header__desktop{
    display: none;
}
.icon_item{
   
    position: relative;
}
.header__main__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon_item .number{
    position: absolute;
    bottom: 10px;
    left: 24px;
    z-index: 111;
}
.shippy__box .shippy__item{
    width: 48%;
}
.header__main__top .bar__menu{
    font-size: 25px;
}
<<<<<<<< HEAD:template/banhang/css/style.css
.footer__bottom{
    text-align: center;
========
.header__main_top .logo{
    font-size: 35px;
    color: #fb6f92;
>>>>>>>> 8146f052da5538020f6363259d7677b9c91da0b3:banhang/css/style.css
}
.header__main_top .icon_item{
    font-size: 25px;
}
.header__main form{
    width: 100vw;
}
.header__main form .submit{
    height: 40px;
    padding: 0 20px;
    background-color: #fb6f92;
    border: 1px solid #fb6f92;
    color: white;
    
    box-shadow: 0 0 2px rgba(0,0,0,.5);
} 
.header__main form .search{
width:83vw;
height: 40px;
outline: none;
padding: 0 20px;
}
.header__menu{
    background-color: white;
    height: 100vh;
    box-shadow: 0 0 1px black;
    width: 320px;
   
    
}

.bg__header_menu{
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    position: fixed;
   
    top: 0;
    left: 0;
    z-index: 12312123;
    width: 100%;
    transform: translateX(-100%);
    transition: all .5s;
}
.trans{
    transform: translateX(0);
}
.header_menu{
    display: flex;
    flex-direction: column;


    font-size: 20px;
    padding: 5px 20px;
}
ul{
    padding-left: 0;
}
.menu__item ul li {
    list-style: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 5px 0;
}
.header__mobie_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/* carousel */
main{
top: 30px;    
}
.container-md{
    width: 100%;
    margin: 0 auto;
}
.danhmuc{
    display: none;
}
.banner{
    width: 100%;
    margin-left: 0;
}
.banner img{
    width: 100%;
}
.carousel .d-none{
    display: block;
}
.blog__item{
    width: 49%;
}
.blog__item .blog__body h4{
    font-size: 15px;
 }
}

@media (max-width:767px){

.text-center{
    font-family: 'Play', sans-serif;
}
}
@media (max-width:600px){

    .container-md {
        width: 95%;
        margin: auto;
    }
    .header__main form .submit{
        height: 40px;
        padding: 0 10px;
        background-color: #fb6f92;
        border: 1px solid #fb6f92;
        color: white;
        
        box-shadow: 0 0 2px rgba(0,0,0,.5);
    } 
    .header__main form .search{
    width:70vw;
    height: 40px;
    outline: none;
    padding: 0 20px;
    }
    .shippy__box .shippy__item{
        width: 100%;
    }
   .footer__top{
    text-align: center;
   }
     .banner__bottom{
    display: flex;
    flex-wrap: wrap;
     }
   .img__banner{
    width: 100%;
   }
<<<<<<<< HEAD:template/banhang/css/style.css
   .banner__hai .row .banner__item{
    width: 100%;
    margin-top: 10px;
  }

========
>>>>>>>> 8146f052da5538020f6363259d7677b9c91da0b3:banhang/css/style.css
}   
@media (min-width:999px){
    .header__mobile{
        display: none;
    }
    .header__desktop{
        display: block;
    }
    .header__main_top{
       
        align-items: center;
        justify-content: space-between;
        
    }
    .header__main .logo{
        font-size: 35px;
        color: #fb6f92;
    
    }
    .header__main form{
      width: 70%;
     
    }
   
    .icons .icon_item{
    display: flex;
    font-size: 15px;
    align-items: center;
    text-align: center;
    }
    .icons .icon_item i{
        font-size: 25px;
        margin-right: 10px;
        color: black;
    }
    .icon_item_text{
        width: 100%;
        
    }
    .icon_item_text>div{
        position: relative;
        right: 12px;
    }
    .header__menu__item{
        display: flex;
        font-size: 20px;
        
    }
    .header__menu__item i{
        position: relative;
        top: 7px;
        margin-right: 10px;
    }
    .header__menu{
        border-bottom: 1px solid black;
       height: 35px;
      
       width: 100%;
       z-index: 111111111;
      
       display: block;
    }
    
    .menu__item ul li{
        display: inline-block;
        margin-right: 15px;
        font-size: 20px;
        
    }
    .menu__item ul li a{
        text-align: center;
    }
    .header__menu__end{
        font-size: 16px;
        position: relative;
        top:4px;
        color: #fb6f92;
    }
    #product .product__bt{
    height: 300px;
   }
}
label{
    color: red;
    opacity: 0;
    visibility:hidden;
    transition: 0.5s ease;
 
 
 }
 @media (min-width:1668px){
    .header__menu{
        top: 10%;
    }
    .header__menu__end{
        font-size: 18px;
        top: 5px;
    }
    .header__main .logo{
        font-size: 40px;
    }
    #product .product__bt{
        height: 310px;
       }
    }

