
.add_blog{
    width: 100%;
    height: 820px;
    box-shadow: 0 0 10px 0 hsl(0, 0%, 0%,20%);
    border-radius: 5px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.add_blo.blog_add_item:nth-child(2){
    align-items: center;
}
.blog_add_item:nth-child(1){
color: #2B20A1;
font-family: Play;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
height: 10%;
display: flex;
align-items: center;
padding: 0 20px;

}
.blog_add_item:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
 
    width: 100%;
    height: 70%;
}
.khung_add_item{
    box-shadow: 0 0 10px 0 hsl(0, 0%, 0%,20%);
    border-radius: 5px;
    width: 97%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.blog_add_item:nth-child(3){
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
 
}
.blog_add_item:nth-child(3)>section{
    display: flex;
    width: 102px;
    padding: 10px 0px;
    justify-content: center;
    background: red;
    color:white;
    border-radius: 5px;
    align-items: center;
}
.blog_add_item:nth-child(3)>section:nth-child(2){
background: #2163E2;
gap: 1px;
}

.add_item{
    
    width:100%;
   
}
.add_item:nth-child(1),.add_item:nth-child(2){
    height:20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    gap: 27px;
}
.add_item:nth-child(3){
    height:60%;
}
.input_item{
   
    width: 700px;
    height: 53px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px hsl(0, 0%, 0%,20%);
    overflow: hidden;

}
.input_item>input{
    width: 100%;
    height: 53px;
    outline: none;
    border-style:none;
    padding: 0 20px;
    color: rgb(146, 146, 146);
    font-size: 14px;
    font-weight: 400;

}
.input_item>section{
    width: 100%;
    height: 53px;
    outline: none;
    border-style:none;
    
    color: rgb(146, 146, 146);
    font-size: 14px;
    font-weight: 400;
}

.input_item>.ova_blog{
    position: absolute;
    top:10rem;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 4px 15px;
    border-radius: 5px;
    color: #2B20A1; 
    font-size: 13px;
    margin: 0 20px;
    font-weight: 700;

}
.input_item:nth-child(2)>.ove{
    
    display: flex;
    width: 100%;
    align-items: center;
   
    justify-content: space-between;
   

}
.icon_blog_lich{
    background: rgb(0, 0, 0);
    
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: 20px;
    width: 54px;
    height: 55px;
  
   
}

.ove>input{   
    height: 100%;
    width: 100%;  
    outline: none;
    background: none;
    border-style: none;
    background: rgba(0, 0, 255, 0);
    cursor: pointer;
}
.ova_blog_two{
    position: absolute;
    top:17.4rem;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 4px 15px;
    border-radius: 5px;
    color: #2B20A1; 
    font-size: 13px;
    margin: 0 20px;
    font-weight: 700;
}

input[type="file"]::file-selector-button {
    border-radius: 4px;
    border-style: none;
    padding: 0 15px;
    padding-right: 10px;
    margin: 0px 5px;
    height: 100%;
    font-size: 13px;
    cursor: pointer;
    background-color: white;
  
    
    
  }
  .input_item>select{
    width: 93%;
    font-size: 14px;
    padding: 0px 0px;
    height: 100%;
    outline: none;
    border-style: none;
    margin: 0 17px;

    
  }
  .add_item:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
  
  }


.add_item:nth-child(3)>.input_item{
   width: 89rem;
    height: 90%;
}

.add_item:nth-child(3)>.input_item>input{
    margin-top: -120px;
    padding: 0px 20px;
    
    display: flex;
    justify-content: start;
    width: 100%;
    height: 100%;
    outline: none;
    border-style: none;
}
.ove_blog{
    position: absolute;
    background: red;
    top: 23.6rem;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 4px 15px;
    border-radius: 5px;
    color: #2B20A1; 
    font-size: 13px;
    margin: 0 20px;
    font-weight: 700;
   
}





@media only screen and (max-width: 844px) {
    .icon_blog_lich{
        display: none;
        
    }
  
}
@media only screen and (max-width: 428px) {
  .blog_add_item:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input_item{
    display: flex;
    
    flex-direction: row;
  }
  .khung_add_item{
    display: flex;
    gap: 30px;
  }
  .add_item:nth-child(1),.add_item:nth-child(2){
    width: 100%;
   
    display: flex;
    flex-direction: column;
    
    }
    .input_item{
        width: 100%;

    }
    .input_item>input{
       
       width: 100%;
       
    }
    .input_item:nth-child(1)>.ova_blog:nth-child(1){
        top: 8rem;
    }
    .input_item:nth-child(2)>.ova_blog:nth-child(1){
        top: 12.5rem;
    }
    .add_item:nth-child(2)>.input_item:nth-child(1)>.ova_blog_two:nth-child(1){
        top: 17rem;
        
    }
    .add_item:nth-child(2)>.input_item:nth-child(2)>.ova_blog_two:nth-child(1){
        top: 21.5rem;
       
    }
    .ove_blog{
        top: 27rem;
    }
}

