.admin_body {
    display: flex;
    flex-direction: column;
    font-family: Play;   
   
}
html {
   
}

.content_con {
    
    padding: 40px 0;
}

.content_con:nth-child(1) {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 60px;

}

.content_item {
    width: calc(100%/2);
    display: flex;
    align-items: center;


}

.content_item:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 15px;

}
.content_item:nth-child(1) button{
    background: transparent;
    border: none;
    outline: none;
}

.content_item:nth-child(1)>form {
    width: 501px;
    height: 56px;
    display: flex;
    flex-direction: row;
}

.icon_add {
    width: 51.43px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    font-size: 32.5px;
    color: #858585;
    cursor: pointer;
}

form>input {
    width: 429px;
    outline: none;
    font-size: 10px;
    color: #808080;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 25%);
    border: none;
    padding: 0 15px;
}

form>.icon_search {
    background: black;
    width: 72px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 27px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;



}

.content_item:nth-child(2) {
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: end;


}

.content_item:nth-child(2)>form {
    display: flex;
    width: 230px;
    height: 40px;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.content_item:nth-child(2)>form>section {
    cursor: pointer;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    padding: 10px;
    box-shadow: 0 0 10px hsl(0, 0%, 25%);
    transition: 0.5s;
}

.content_item:nth-child(2)>form>section:hover {
    transform: scale(1.2);
}

.content_item:nth-child(2)>form>label {
    display: flex;
    padding: 2px 0px 3px 0px;
    background: red;
    width: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.content_con:nth-child(2) {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.content_blog:nth-child(1) {
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 10%);
    background: rgb(255, 255, 255);
    width: 42.6%;
    height: 770px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mix_background:nth-child(1) {
    width: 452px;
    background: linear-gradient(180deg, rgba(149, 243, 116, 0.54) 10.91%, rgba(65, 99, 222, 0.388) 100%);
    height: 849.57px;
    position: relative;
    transform: rotate(232deg);
    top: -45%;
    left: -30%;


}

.mix_background:nth-child(2) {
    width: 652px;
    background: linear-gradient(180deg, rgba(149, 243, 116, 0.54) 10.91%, rgba(65, 99, 222, 0.388) 100%);
    height: 749.57px;
    position: relative;
    transform: rotate(40deg);
    top: 50%;
    left: 20%;

}

.khung_blog {
  
    width: 575px;
    height: 691px;
    position: absolute;
    border-radius: 5px;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    gap: 35px;

}

.top_blog {
    z-index: 10px;
    width: 575px;
    height: 550px;
    border-radius: 5px;
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.9s ease;
    overflow-y: hidden;
}

.top_blog::-webkit-scrollbar {
    width: 10px;
    background: #eee;
    display: none;
}

.top_blog::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

.top_blog_lable {

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    width: 237px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    color: #2B20A1;
    font-family: Play;
    font-size: 30px;
    font-weight: 700;
    background-color: white;

}

.top_xem_them {
    text-align: right;
    color: #808080;
    font-size: 12px;
    font-weight: 400;
    transition: 0.5s ease;
}

.top_blog>.top_blog_content {

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    width: 575px;
    background: rgb(255, 255, 255);
    height: 153px;


}



.blog_top_content_tw:nth-child(1) {
    width: 153px;
    height: 153px;
    border-radius: 5px 0px 0px 5px;


}

.blog_top_content_tw>img {
    width: 100%;
    border-radius: 5px;
}

.blog_top_content_tw:nth-child(2) {
    width: 324px;
    height: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_top_content_xr {
    width: 296px;
    height: 56px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;

}

.blog_top_content_xs:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.blog_top_content_xs:nth-child(1)>label:nth-child(1) {
    color: #000;
    font-size: 14px;
    font-weight: 400;

}

.blog_top_content_xs:nth-child(1)>label:nth-child(2) {
    font-family: Play;
    font-size: 12px;

    font-weight: 400;
    color: #808080;

}

.blog_top_content_xs_top {
    display: flex;
    width: 59px;
    padding: 14px 0px 15px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
    color: #FF0303;
    font-family: Play;
    font-size: 23px;
    font-weight: 700;
}

.content_blog:nth-child(2) {
    height: 770px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 10%);
    background: rgb(255, 255, 255);
    width: 53.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;

}

.max_background:nth-child(1) {
    min-width: 1199.493px;
    height: 343px;
    transform: rotate(-63.666deg);
    border-radius: 1199.493px;
    background: linear-gradient(180deg, rgba(0, 255, 25, 0.56) 21.98%, rgba(217, 217, 217, 0.00) 100%);
    position: relative;
    top: -30%;
    left: 15%;


}

.max_background:nth-child(2) {
    position: relative;
    min-width: 937.604px;
    height: 343px;
    transform: rotate(120.229deg);

    border-radius: 937.604px;
    background: linear-gradient(180deg, #00FF19 0%, rgba(217, 217, 217, 0.00) 100%);
    top: 35%;
    left: -35%;
}

.blog_time {
    width: 720px;
    position: absolute;
    height: 690px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.9s ease;
}

.blog_tin_moi_hienthi {
    display: flex;
    width: 720px;
    height: 100%;
    padding-bottom: 80px;
    flex-direction: column;
    border-radius: 5px;
    gap: 40px;
    align-items: center;
    overflow-y: scroll;


}

.blog_tin_moi_hienthi::-webkit-scrollbar {
    width: 10px;
    background: #eee;

}

.blog_tin_moi_hienthi::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}
.blog_tin_moi_hienthi>form{
    width: 100%;
    height: 100%;
}
.blog_tin_moi_hienthi>.top_blog_content {
    display: flex;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    width: 670px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 153px;
    transition: 0.8s ease-in-out;
}

.blog_xr:nth-child(1) {
    width: 100%;
    height: calc(100%/2);
    display: flex;
    gap: 30px;
    flex-direction: row;
   
}

.blog_content_xrl:nth-child(1) {
    width: 151px;
    height: 151px;
}

.blog_content_xrl:nth-child(1)>img {
    width: 151px;
    border-radius: 5px;
    height: 151px;
}

.blog_content_xrl:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    height: 151px;
    gap: 30px;
}

.blog_content_xrl:nth-child(2)>label:nth-child(1) {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.blog_content_xrl:nth-child(2)>label:nth-child(2) {

    color: #808080;
    font-size: 12px;
    font-weight: 400;

}

.blog_content_xrl:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 164px;
    height: 151px;
    
}
.blog_content_xrl:nth-child(3)>section:nth-child(1),.blog_content_xrl>section:nth-child(2){
    font-size: 20px;
   width: 40px;
   height: 40px;
   border-radius: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.blog_content_xrl:nth-child(3)>section:nth-child(1){
    color:white;
    background: red;

}
.blog_content_xrl:nth-child(3)>section:nth-child(1) a i{
    color: white;
}
.blog_content_xrl:nth-child(3)>section:nth-child(2){
  
    box-shadow: 0 0 0 2px #00FF0A;

}
.blog_content_xrl:nth-child(3)>section:nth-child(2) a i{
    color:#00FF0A;
}
.blog_content_xrl:nth-child(3)>section:nth-child(3){
    width: 15px;
   height: 15px;
   border-radius: 100px;
   background: red;
}

.blog_xr:nth-child(2) {
    width: 100%;
    color: #858585;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    justify-content: center;
    text-align: justify;
    font-size: 11px;
    font-weight: 400;   
    letter-spacing: 1.1px;
    transition: 1.3s ease;
}


.blog_text:nth-child(1) {
    color: #000;
    font-size: 12px;
    font-weight: 400;
   
}

.blog_tin_moi_time {
    width: 720px;
    height: 63px;
    position: absolute;
    top: 41rem;
    box-shadow: 0 0 10px 0px hsl(0, 0%, 0%, 0.20);
    border-radius: 5px;
    display: flex;
    justify-content: center;
   
    flex-direction: row;
    overflow: hidden;
    left: 5px;
    background: white;

}
.blog_tin_moi_time>form{
   width: 100%;
     height: 63px;
    box-shadow: 0 0 10px 0px hsl(0, 0%, 0%, 0.20);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    overflow: hidden;
}

.blog_tin {
    width:calc(720px/3);
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 30px;
    transition: 0.4s ease;



}
.blog_tin input{
    position: absolute;
    width: 200px;
    height: 50px;
    opacity: 0;
}

.blog_tin:nth-child(2) {
    border-right: 0.5px solid #B1A9A9;
    border-left: 0.5px solid #B1A9A9;



}

.vongtron {
    width: 17px;
    height: 17px;
    border-radius: 100px;

}

.blog_tin:nth-child(2)>.vongtron {
    background: red;
}

.blog_tin:nth-child(3)>.vongtron {
    background: #FFB100;
}

.blog_tin:nth-child(1) {
    background: #EEE;
    color: #131313;
    font-family: Play;
    font-size: 18px;
    font-weight: 700;
}
#text_blog,#text_bllog{
    visibility: hidden;
    opacity: 0;
    transition: 1.5s ease;
}
.blog_text:nth-child(2){
  overflow: hidden;
    height: 300px;
}
.text_blog{
    overflow-y: scroll;
}