*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.admin__box{
    background-color:white;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    padding:15px 20px;
}
.admin__box .timkiem{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    height: 35px;
}
.admin__box .tim_kiem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin__boxes{
    display: flex;
    justify-content: right;

    align-items: center;
}
.admin__boxes>a>i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 20px;
    line-height: 28px;
    text-align: center;

    cursor: pointer;
    align-self: center;
   
}
.admin__boxes .number,
.admin__boxes .number__list{
    display: flex;
}
.admin__box .timkiem .xacnhan{
    height: 41px;
    border: none;
    outline: none;
    width: 10%;
    background-color: black;
    color: white;
}
.admin__box .timkiem .lookfor{
    height: 40px;
    border: none;
    outline: none;
    width: 100%;
    padding: 0 30px;
}
.admin__boxes .number__list i{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
}
.admin__boxes .number__list .number p{
   margin: 0 10px; 
}
.admin__boxes .number__list .number span{
    margin-right:10px ;
}
.admin__tablle .header__table{
    display: flex;
    justify-content: space-between;
    padding: 8px 25px;
    border: 1px solid white;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    width: 100%;
}
.admin__tablle .header__body p,
.admin__tablle .header__table p{
    width:33.33%;
    text-align: center;
}
.admin__tablle .header__body{
    
    display: flex;
    justify-content: space-between; 
    padding: 7px 25px;
    border: 1px solid white;
    box-shadow: 0 0 5px rgba(0,0,0,.5);

    width: 100%;
    font-size: 18px;
}
.header__body i{
    width: 30px ;
    height: 30px;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    line-height: 28px;
}