:root{
    /* FONT */
    --Play: 'Play', sans-serif;
    --Ruda: 'Ruda', sans-serif;
    /* COLOR */
    /* Chủ đạo */
    --CD: #2B20A1;
    /* Nền */
    --Nen: #EAE8FF;
}
.m-container{
    padding: 10px;
    margin-top: 90px;
    width: 85%;
    height: 1000px;
    /* background-color: red; */
    position: absolute;
    right: 25px;
    display: grid;
    grid-template-columns: 60% 40%;
    /* grid-template-rows: 1000px; */

}
/* Show BEGIN */
/* Trái */
.infor-order{
    height: fit-content;
}
.infor-order .box1{
    width: 100%;
    height: 50px;
    padding: 0px 10px;
}
.box1 ul {
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.384);
    border-radius: 10px;
    font-family: var(--Play);
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.box1 ul li{
    overflow: hidden;
    margin: 0px 20px;
    display: inline-block;
}
.box1 ul li a{
    color: black;
}
.box1 ul li a:hover{
    color: var(--CD);
}
.circle{
    display: inline-block;
    width: 10px;
    height: 10px; 
    border-radius: 50%; 
    margin-right: 10px; 
}

.infor-order .box2{
    margin-top: 30px;
    width: 100%;

    height: 800px;
    padding: 0px 10px;
}
.box2>div{
    position: relative;
    font-family: var(--Play);
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.384);
    border-radius: 10px;
    padding: 8px 15px;
    width: 100%;
    height: fit-content;
}
.box2 div p{
    font-weight: bold;
    color: rgba(128, 128, 128, 0.685);
    font-size: 22px;
}
.box2 div p:nth-child(2){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box2 .kh-infor{
    margin: 10px 0px;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.377);
    border-radius: 10px;
    padding: 10px 20px;
}
.box2 .kh-infor>div{
    font-size: 16px;
    width: 100%;
    margin: 5px 0px;
}
.box2 .kh-infor>div p {
    color: #2B20A1;
    display: inline-block;
    width: 20%;

}
.box2 .kh-infor>div span{
    font-weight: bold;
    color: gray;
}



.box2 table{
    width: 100%;
    height: fit-content;
}
.box2 table thead{
    height: 50px;
    width: 100%;
    background-color: #2B20A1;
    color: white;
    text-align: center;
    font-size: 18px;
}
.box2 table thead th:nth-child(1){
    width: 10%;
}
.box2 table thead th:nth-child(2){
    width: 40%;
}
.box2 table thead th:nth-child(3){
    width: 10%;
}
.box2 table thead th:nth-child(4){
    width: 30%;
}
.box2 table tbody{
    text-align: center;
}
.box2 table tbody tr:nth-child(even){
    background-color: rgba(156, 156, 156, 0.089);
}
.box2 table tbody tr:nth-child(odd){
    background-color: white;
}
.box2 table tbody tr{
    height: 30px;
    background-color: aqua;
}
.box2 table tbody tr td{
    padding: 10px 0px;

}
.box2 table tbody tr img{
    width: 50%;
    height: 80%;
}
.btn-control {
    margin-top: 10px;
}
.btn-control p{
    display: inline-block;
}
.btn-control input,
.btn-control button{
    margin: 0px 5px;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    transition: 0.5s;
    color: white;
}
.btn-control input:hover,
.btn-control button:hover{
    font-size: 18px;
    font-weight: 700;
}

/* Phai */
.m-container .order{
    padding: 0px 15px;
    height: fit-content;
}
.m-container .order table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
.m-container .order table thead{
    font-family: var(--Play);
    font-size: 20px;
    border-radius: 300px;
    padding: 15px;
    height: 60px;
    color: white;
    text-align: center;
    background-color: #2B20A1;
}
.m-container .order table thead th:nth-child(1){
    padding-left: 20px;
    width: 16%;
}
.m-container .order table thead th{
    width: 28%;
}
/* Phương án khác */
.order table tbody{

    text-align: center;
}
.order table tbody tr{
    height: 100px;
    background-color: rgb(161, 161, 161);
    padding: 100px;
}
/* Phương án chính */
.order .order-check, .order .control{
    border: 2px rgba(128, 128, 128, 0.089) solid;
    margin-top: 10px;
    border-radius: 15px;
    width: 100%;
    height: 70px;
    position: relative;
    transition: 0.5s;
}
.order .order-check:hover{
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.253);

}
.order .order-check ul, .control ul{
    font-family: var(--Play);
    position: relative;
    top: 25%;
    bottom: 25%;
    height: 100%;
    display: flex;
    font-size: 22px;
    overflow: hidden;
}
.order .order-check ul li:nth-child(1){
    font-weight: bold;
    width: 16%;
    color: black;

}
.order .order-check ul li{
    text-align: center;
    width: 28%;
    color: black;
}
.order .order-check .price{
    font-weight: bold;
    color: var(--CD);
}

.control ul{
    display: flex;
    justify-content: center;

}
.control ul li{
    margin: 0px 30px;
    font-size: 18px;
}
.control ul li a{
    color: black;
    transition: 0.5s;
    font-weight: bold;
}
.control ul li a:hover{
    color: #2B20A1;
    ;
}
/* Show END */