
.k_bl_ct{
    width: 100%;
    padding: 20px 0px;
    
    display: flex;
    gap: 30px;
    flex-direction: column;
  
}
.bl_ct_kh_c{
    width: 100%;
    height: 8.5rem;
  
    display: flex;
    
}
.bl_ct_kh_c:nth-child(1){
    display: flex;
    justify-content: start;
    align-items: center;
    height: 2rem;
   
    font-size: 18px;
}
.bl_ct_kh_c:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    
    box-shadow: 0 0 10px hsl(0, 0%, 0%,20%);
    border-radius: 5px;
}
.bl_ct_kh_c:nth-child(2)>form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.bl_search{
   
    height: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px hsl(0, 0%, 0%,20%);
    overflow: hidden;
  
}
.bl_search:nth-child(1){
    width: 93%;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
}
.bl_search:nth-child(1)>input{
    width: 100%;
    outline: none;
    border: none;
    height: 100%;
    font-size: 20px;
    padding: 0 25px;
}
.bl_search:nth-child(2){
    width: 5%;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    background: black;
    color: white;
    font-size: 1.5rem;
}
.bl_ct_kh_c:nth-child(3){
    display: flex;
    
    
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    overflow: hidden;
}
.bl_tinhtrang{
   
   
    height: 100%;
}
.bl_tinhtrang:nth-child(1){
    border: 1px solid #4a4a4a2d;
    display: flex;
    width: 33%;
    border-radius: 5px;
    box-shadow:  0 0 0 0 hsl(0, 0%, 0%,20%);
}
.tinhtrang{
    width: calc(100%/3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 15px;
    font-weight: 600;
    
}
.tinhtrang:nth-child(2){
   
  border-left: 1px solid  rgba(0, 0, 0, 0.199);
  border-right: 1px solid rgba(0, 0, 0, 0.199) ;
}
.tinhtrang:nth-child(2),.tinhtrang:nth-child(3){
    justify-content: space-evenly;
}
.tinhtrang>span:nth-child(2){
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: red;
    
}
.bl_tinhtrang:nth-child(2){
    width: 18%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    display: flex;
    font-size: 11px;
}
.bl_tinhtrang:nth-child(2)>section:nth-child(3){
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow:  0 0 10px 0px hsl(0, 0%,0%, 20%);
}
.bl_tinhtrang:nth-child(2)>section:nth-child(2),.bl_tinhtrang:nth-child(2)>section:nth-child(5){
    padding: 10px 5px;
    box-shadow:  0 0 10px 0px hsl(0, 0%,0%, 20%);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
   
    width: 1.5rem;
    height: 1.5rem;
}
.bl_ct_kh_c:nth-child(4){
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 hsl(0, 0%,0% ,20%);
    display: flex;
    justify-content: center;
    height: 100%;
    align-items:start;

    display: flex;
    flex-direction: column;
}
.bl_ct{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    padding: 0 20px;
    align-items: center;
    height: 7rem;
  
    border-bottom: 1px solid rgba(112, 112, 112, 0.249);
    font-size: 17px;
    font-weight: 700;

}
.bl_ct_ove{
    width: 100%;
    height: 6.3rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid rgba(112, 112, 112, 0.249);
    font-size: 17px;
    font-weight: 700;
    flex-direction: column;
    background: rgba(135, 135, 135, 0.213);
    border-radius: 10px;
    transition: 0.5s ease;
    overflow: hidden;

}
.bl_ct_ove>.ova_o{
    cursor: pointer;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
 background: white;
   align-items: center;
    width: 100%;
    height: 200px;
    font-weight: 400;
    font-size: 15px;
}

.bl_ct>section:nth-child(3),.ova_o>section:nth-child(3),.bl_ct>section:nth-child(1),.ova_o>section:nth-child(1){
    
    width: 150px;
    
}
.bl_ct>section:nth-child(4),.ova_o>section:nth-child(4){
    width: 250px;
   
   
}
.ova_o>section:nth-child(4){
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction:row;
   
}
.ova_o>section:nth-child(4)>span{
    border-radius: 100px;
    width: 20px;
    height: 20px;
   background: red;
}
.bl_ct>section:nth-child(2),.ova_o>section:nth-child(2){
    width: 250px;
    
}

.bl_ct>section:nth-child(5),.ova_o>section:nth-child(5){
    width: 400px;

}
.bl_ct>section:nth-child(6),.ova_o>section:nth-child(6){
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 200px;
   
}
.ova_o>section:nth-child(6)>span:nth-child(1),.ova_o>section:nth-child(6)>span:nth-child(3){
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}
.ova_o>section:nth-child(6)>span:nth-child(2){
    background: rgba(0, 0, 0, 0.232);
    width: 1px;
    height: 30px;
    border-radius: 100px;
}
.ova_o>section:nth-child(6)>span:nth-child(3){
    border: 2.5px solid orange;
    background: transparent;
    color: orange;
}

.bl_ct_ove form{

    transition: 0.9s ease;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 15rem;
    
   
}



.k_check{
  
    width: 100%;
    height: 10rem;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 hsl(0, 0%, 0%,20%);

}
.k_check>textarea{
   
    border: none;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}


.nut_ph{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;

}
.nut_ph>input{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 50px;
    color: white;
    font-weight: 400;
    background: red;
    transition: 0.9s ease;
}