:root{
    --font--color:#2B20A1;
    /* FONT */
    --Play: 'Play', sans-serif;
    --Ruda: 'Ruda', sans-serif;
    /* COLOR */
    /* Chủ đạo */
    --CD: #2B20A1;
    /* Nền */
    --Nen: #EAE8FF;
}
.admin_body{
}
.card-body h5{
    font-family: var(--Play);
    font-weight: bold;
}

.card-body i{
    color: black;
    margin: 20px;
    font-size: 60px;
}
.card-body span{
    color: #2B20A1;
    font-weight: bold;

    font-family: var(--Play);
    font-size: 40px;
    text-align: right;
}
