*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('../css/bien.css');
.flex{
    display: flex;
  }
  .flex h3{
    padding: 2px 5px;
    font-size: 15px;
  cursor: pointer;
  }
  .flex .active{
    border: 1px solid black;
    background-color: var(--font--color);
    color:white;
    border: 1px solid var(--font--color);
    border-radius: 20px;
  }
  
  .container_flex{
  display: flex;
  margin:50px 0;
  
  }
  .left__form{
    width: 40%;
    padding: 10px 20px;
    color: white;
    height: 300px;
    background-color: rgb(255, 48, 117);
  }
  .left__form h2{
    font-size: 30px;
  }
  .left__form p,
  .left__form h3{
    font-size: 18px;
    margin:0 50px;
  }
  .breadcrumb-item{
<<<<<<< HEAD
    font-family: 'Ruda', sans-serif;
    color: #808080;
  }
  .breadcrumb-item.active{
    font-family: 'Ruda', sans-serif;
=======
    color: #808080;
  }
  .breadcrumb-item.active{
>>>>>>> devTri
    color: var(--font--color);
    font-weight: bold;
  }
  .sign{
    width: 40%;
    border: 1px solid #FFFFFF;
    padding:30px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.317);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 20px;
    background-color: white;
    
  }
  .sign span a{
    color: var(--font--color);
    transition: all .5s;
    font-weight: 500;
  }
  .sign span a:hover{
    font-weight: bold;
  }
  
  a:hover{
    color: var(--font--color);
  }
  .form__group p{
  
    margin: 5px 0;
  }
  
  .form__group_icon {
  width: 100%;
  border: 1px solid #2b20a16e;
    position: relative;
    border-radius: 5px;
    
  }
  .form__group_icon input{
    width: 70%;
    height: 40px;
    border: none;
    outline: none;
    margin-left: 10px;
    
  }
  .form__group_icon>i{
     margin-left: 20px;
  }
  .form__group_icon .fa-eye{
    position: absolute;
    right: 15px;
    top: 8px;
    cursor: pointer;
  }
  
  .sign .btna{
    margin-top: 13px;
    width: 100%;
    padding: 7px 0;
    background-color: var(--font--color);
    color: white;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    margin-bottom: 5px;
    border-radius: 5px;
    font-weight: bold;
  }
  .sign h1,
  .sign-up h1{
    color: var(--font--color);
    font-weight: bold;
}
.sign .quenmk,
.sign .form__group p,
.sign-up .form__group p{
  color: var(--font--color);
  font-weight: 600;
}
  .sign-up a{
    margin-top: 5px;
    display: inline-block;
  }
  
  /*  */
  .forget{
    width: 40%;
    border: 1px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.317);
    position: relative;
    padding: 5px 0 2px;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
  }
  .form__group_one{
    font-family: 'Play', sans-serif;
    width: 100%;
    
  }
  .form__group_one h1{
    font-size: 23px;
    padding: 10px 14px;
    margin-bottom:0;
    color: var(--font--color);
    font-weight: bold;
  }
  .form__group_one p{
    color: var(--font--color);
    font-weight: 600;
    padding: 5px 0;
  }
  .form__group_one .form__group_icona{
    padding: 5px;
  
  
  }
  #doimk .form__group_icona{
    width: 100%;
  }
  .form__group_icona input{
    padding: 3px 14px;
    outline: none;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #2b20a16e;
    border-radius: 5px;
  }
<<<<<<< HEAD
  .d-lg-flex p{
    font-family: 'Ruda', sans-serif;
  }
=======
>>>>>>> devTri
  hr{
    margin: 0;
  }
  .forget_from{
  display: flex;
  justify-content: right;
  
  }
  .forget_from>div{
    margin-top: 10px;
   margin-right: 10px;
  }
  .forget_from .btna
{
    padding: 6px 15px;
    background-color: var(--font--color);
    color: white;
    border: none;
    font-weight: bold;
  border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }

  .form__group_one a{
    border: 1px solid var(--font--color);
    padding: 5px 25px;
    display: inline-block;
    margin: 10px 5px; 
    background: transparent;
    font-weight: bold;
    color: var(--font--color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  }
  .form__group_one input {
  padding: 5px 15px;
    cursor: pointer;
    
  }
.forget .breadcrumb{
padding: 0 16px;
margin-top: 3px;
}
<<<<<<< HEAD
.breadcrumb li{
  font-family: 'Ruda', sans-serif;
}
=======
>>>>>>> devTri
  @media (max-width:1000px){
    .forget,
    .sign{
      width: 60%;
    }
    .forget_from{
      margin-left: 30vw;
    }
  }
  @media (max-width:767px){
    .forget,
    .sign{
      width: 100%;
    }
    #doimk .form__group_icona{
      width: auto;
    }
  }

  