*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
  }
  .flex h3{
    padding: 2px 5px;
    font-size: 15px;
  cursor: pointer;
  }
  .flex .active{
    border: 1px solid black;
    background-color: black;
    color:white;
    
    border-radius: 20px;
  }
  
  .container_flex{
  display: flex;
  margin:50px 0;
  
  }
  .left__form{
    width: 40%;
    padding: 10px 20px;
    color: white;
    height: 300px;
    background-color: rgb(255, 48, 117);
  }
  .left__form h2{
    font-size: 30px;
  }
  .left__form p,
  .left__form h3{
    font-size: 18px;
    margin:0 50px;
  }
  .sign{
    width: 40%;
    border: 1px solid black;
    padding: 5px 20px;
    margin-left: 20px;
    background-color: white;
    
  }
  .form__group p{
  
    margin: 10px 0;
  }
  
  .form__group_icon {
  width: 100%;
    border: 1px solid black;
    position: relative;
    
  }
  .form__group_icon input{
    width: 70%;
    height: 35px;
    border: none;
    outline: none;
    margin-left: 10px;
  }
  .form__group_icon>i{
     margin-left: 20px;
  }
  .form__group_icon .fa-eye{
    position: absolute;
    right: 15px;
    top: 8px;
    cursor: pointer;
  }
  .sign .btna{
    margin-top: 13px;
    width: 100%;
    padding: 5px 0;
  
  }
  .sign-up a{
    margin-top: 5px;
    display: inline-block;
  }
  
  /*  */
  .forget{
    width: 40%;
    border: 1px solid black;
    position: relative;
  }
  .form__group_one{
    width: 100%;
  }
  .form__group_one h1{
    font-size: 20px;
    padding: 5px 14px;
  }
  .form__group_one p{
  
    padding: 5px 14px;
  }
  .form__group_one .form__group_icona{
    padding: 5px 14px;
  
  }
  .form__group_icona input{
    padding: 5px 14px;
    outline: none;
    width: 100%;
    height: 40px;
  
  
  }
  .forget_from{
  margin-left: 18vw;
  }
  .form__group_one a{
    border: 1px solid black;
    padding: 5px 15px;
    display: inline-block;
    margin: 10px 5px;
  }
  .form__group_one input {
    padding: 5px 15px;
    cursor: pointer;
  
  }
  @media (max-width:1000px){
    .forget,
    .sign{
      width: 60%;
    }
    .forget_from{
      margin-left: 30vw;
    }
  }
  @media (max-width:767px){
    .forget,
    .sign{
      width: 100%;
    }
  }
  