@import url('../css/bien.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.prochitiet,
.productct__flex{
    background-color: white;
    padding: 40px 10px;
}
.productct__right{
    padding: 0 20px;
}
.productct__right hr{
    margin: 1rem 0;
}
.productct__flex .productct__right .productct__text h2{
    font-size: 30px;
    color: var(--font--color);
    
}
.productct__flex .productct__right .productct__text p{
    font-size: 18px;
    
}
.productct__right .stars i{
    color: yellow;
    font-size: 18px;
}
.productCT__Bottom h2{
background-color: white;
color: var(--font--color);
padding: 10px 5px;
}
.productct__flex .productct__right .productct__text p span{
    font-weight: bold;
    color: var(--font--color);
    
}
.pro_img{
    display: flex;
    justify-content: space-between;
}
.pro_img .img_small{
    width: 19%;
    cursor: pointer;
}
.productct__flex .productct__right .productct__text .price .price1{
    font-size: 23px;
    color: red;
}
.productct__text .number__count{
    display: flex;
    align-items: center;
 
 
}
.productct__text .number__count .number__count_pr{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid var(--font--color);
    padding: 8px 0;
    border-radius: 20px;cursor: pointer;
    margin-right: 20px;
}
.number__count_pr .solid{
padding: 0 15px;
}
.productct__text .mua,
.productct__text .number__count .addtoCart{
    border-radius: 20px;
    border: 1px solid black;
    padding: 8px 0;
    text-align: center;
}
.productct__text .number__count .addtoCart{
    background: var(--font--color);
    color: white;
    border: 2px solid var(--font--color);
    transition: all .5s;
}
<<<<<<< HEAD
.binhluan .BinhLuan{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--font--color);
    width: 100%;
    background-color: red;
}
.binhluan ul{
    border: 1px solid black;
 width: 100px;
 background-color: white;

    position: absolute;
    top: 25px;
    right: 0;
}
.chinhsua{
    position: relative;
   margin-bottom: 10px;
 
}

.binhluan li{
    width: 100%;
    border-bottom: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}
.activeE{
    display: none;
}
.binhluan li:last-child{
    border-bottom: none;
=======
.productct__text .number__count .addtoCart:hover{
    background: transparent;
    color: var(--font--color);
    border: 2px solid var(--font--color);
>>>>>>> devVinh
}
.productct__text .mua{
    color: var(--font--color);
    font-weight: 600;
    border: 2px solid var(--font--color);
    transition: all .5s;
}
.productct__text .btn:hover.mua{
    background: var(--font--color);
    color: white;
    border: 2px solid var(--font--color);
}

.productct_thanhtoan{
    background-color: aliceblue;
    text-align: center;
    padding: 10px 0;
}
/* productchitiet__bottom */
.productchitiet__bottom .prochitiet .nav-tabs{
    --bs-nav-tabs-border-width:none;
}
.prochitiet{
    padding: 40px 50px;
}
.prochitiet .nav{

    width: 100%;
    align-items: center;
   justify-content: center; 
   position: relative;
   
}
.prochitiet .nav::after{
content:"";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 3px;
background-color: black;
display: inline-block;


}
.prochitiet .nav-item{
    width: 33.33%; 
   
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}
.prochitiet .nav-item .nav-link1{
    width: 100%;
    background: transparent;
    border: none;
    padding: 4px 0;
    font-size: 23px;
    font-weight: bold;
}
.prochitiet .nav-link1.active{
    position: relative;
}

.prochitiet .nav-link1.active::before{
    content:"";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 3px;
background-color: blue;
display: inline-block;
z-index: 111;
}
.prochitiet .nav-link1.active{
    color:var(--font--color);
}
/* bình luận */
.prochitiet .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    margin-right: 1%;
}
.prochitiet .image img{
    width: 100%;
    background-size: cover;
}

.BinhLuan .binhluan1{
    border:none;
    outline: none;
    width: 80%;
    padding: 0 20px;
}
.BinhLuan{
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    
}
.prochitiet form .gui{
width: 5%;
background-color: var(--font--color);
color: white;
border: 1px solid var(--font--color);
}
.prochitiet .binhluan{
    display: flex;
    justify-content: space-between;
}
.fa-gear{
    cursor: pointer;
}

@media (max-width:767px){
    .prochitiet .nav-item .nav-link1{
    font-size: 13px;
   } .prochitiet form .gui{
    width: 15%;

    }
    .productct__text .number__count .addtoCart{
        padding: 10px 20px;
    }
    
.productct__text img {
    width: 100%;
}
}