*{padding: 0;
margin: 0;
box-sizing: border-box;
}
.profile__flex{
    display: flex;

}
.profile__left{
    width: 20%;
   
  
}
.profile__top{
    border-bottom: 1px solid black;
}
li{
    list-style: none;
}
dl, ol, ul{
    margin-bottom: 0;
}
.protofile{
    border: 1px solid black;
}
.profile__flex .protofile__danhmuc{
 
}
.profile__top{
    display: flex;
    padding: 5px 15px;

}

.profile__top img{
    width: 35px ;
    height: 35px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 7px;
    
 
}
.profile__flex .protofile__danhmuc ul li{

transition: all .5s;
}
.profile__flex .protofile__danhmuc ul li a {
    display: block;
    border-bottom: 1px solid black;
    padding: 5px 15px;
    transition: all .5s;
}
.profile__flex .protofile__danhmuc ul li:hover a{
    background-color: rgb(255, 89, 117);
    color: white;
}
.profile__right{
    width: 60%;
    border: 1px solid black;
    position: relative;
    padding: 10px 0;
    margin-left: 20px
}
.profile__right .profile__img{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background: black;
    border-radius: 50%;
    position: relative;
    left: 15.5vw;
}
.profile__form{
margin:0 4vw;

}
.profile__right>a{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.form__profile_group input{
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 15px;
}
.profile_group_flex {
    display: flex;
    gap: 20px;
}
 .form__profile_group p{
 margin-bottom: 10px;
}
.profile_group_flex .form__profile_group{
    width: 100%;
}
.profile_group_flex .form__profile_group input{
width: 100%;
margin-right: 35px;

}
.buttons a{
    padding: 5px 15px;
    display: inline-block;
    margin-top: 10px;
    border: 1px solid black;
  
}
.hien{
    display: none;
}