*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.right-sauthanhtoan,
.left-sauthanhtoan{
    padding:0 15px;
}
.thanhtoan-box{
    padding: 10px 30px;
}
.thanhtoan-box .price,
.thanhtoan-box h3{
    color: #2B20A1;
    font-weight: bold;
}
.thanhtoan-box h4{
    color: grey;
}
.thanhtoan-box .thanhtoan{
    color: black;
font-weight: bold;
<<<<<<< HEAD
}
.right-sauthanhtoan h4{
    font-size: 18px;
    padding: 10px 20px;
    color: red;
}
.right-sauthanhtoan ul li{
    color: grey;
    padding: 0 40px;
    font-weight: bold;
=======
>>>>>>> 8146f052da5538020f6363259d7677b9c91da0b3
}