*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.thanhtoan-dau{
    background-color: white;
    padding:0 20px;
    font-size: 19px;
    padding: 10px 20px;
    color: red;
}
.right-sauthanhtoan,
.left-sauthanhtoan{

  
}
.thanhtoan-box{
    padding: 15px 30px;
}
.thanhtoan-box .price,
.thanhtoan-box h3{
    color: #2B20A1;
    font-weight: bold;
}
.thanhtoan-box h4{
    color: grey;
}
.thanhtoan-box .thanhtoan{
    color: black;
font-weight: bold;

}
.right-sauthanhtoan h4{
    font-size: 18px;
    padding: 10px 20px;
    color: red;
}
.right-sauthanhtoan ul li{
    color: grey;
    padding: 0 40px;
    font-weight: bold;
}
.right-sauthanhtoan ul{
    padding: 0 0 30px;
}