@import url('../css/bien.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  hang */
.cart__header{
    display: flex;
}
.cart__right{
    width: 25%;
    border: 1px solid black;
    margin-left: 1%;
    background-color: white;
    height: 250px;
    padding: 10px 0;
}
.cart__body:nth-child(odd){
    background: #2b20a113;
}
.cart__right p{
   
}
.cart__buttons{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.cart__right span {
    font-weight: 500;
}
.cart__right div{
    padding: 0 20px;

}
.cart__right__deal{
    width: 100%;
}
.cart__right__deal input[type="text"]{
    width: 77%;
}
.cart__right__deal input[type="submit"]{
    width: 19%;
}
.cart__body .checkbox{


}
.cart .title__text{
    font-size: 24px;
    color: var(--font--color);
    font-weight: bold;
}
.form__Cart{
    border: 1px solid var(--font--color);
    display: flex;
    height: 35px;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-between;
}
.form__Cart .text{
    width: 100%;
}
.table>:not(caption)>*>*{
    border-bottom-width:0;
}
.form__Cart .submit{
    width: 20%;
    border-radius: 0;

    font-weight: bold;
    background-color: var(--font--color);
    color: white;
    border: 1px solid var(--font--color);
}
.product__cart{
display: flex;
width: 80%;
}

.cart__left .table tbody tr td:last-child{
   width: 20%;
}
tr{
    border-bottom: 1px solid black;
}
.giohang__right div p span{
    font-weight: bold;
}
.number__count{
    display: flex;
   font-size: 20px;
    align-items: center;
    justify-content: center;
}
.number__count i{
    font-size: 10px;
}
.number__count div{
padding: 0 10px;
}
.sanpham__giohang {
    display: flex;
    
}
.price_all{
    font-weight: bold;
    font-size: 18px;
    color: var(--font--color);
}
.sanpham__giohang{
    width: 260px;
}
/* .title__sp{
    width: 180px;
} */
/* kênh thanh toan */
.breadcrumb{
    --bs-breadcrumb-margin-bottom :0px  
<<<<<<< HEAD
        
=======
>>>>>>> devTri
   }
   
.thanhtoan_left{
 border: 1px solid white;
 box-shadow: 0 0 5px rgba(0,0,0,0.32);
background-color: white;
  padding: 20px 30px;
  margin-right: 2%;
  border-radius: 5px;
    
}
.table{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}