@import url('../css/bien.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  hang */
.cart__header{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
   align-items: center;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    background-color: var(--font--color);
}
.cart__header .icon{
    width: 20px;
}
.cart__header .sp{
    width: 250px;
}
.cart__body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: white;
    padding: 0 20px;
}
.cart__body:nth-child(odd){
    background: #2b20a113;
}
.title__sp{
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    color: var(--font--color);
}
.cart__buttons{
    display: flex;
    justify-content: space-between;
}
.cart__buttons a{
    border: 1px solid var(--font--color);
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    }
.cart__buttons a:first-child{
    background-color: white;
    color: var(--font--color);
}
.cart__buttons a:last-child{
    background-color: var(--font--color);
    color: white;
}
.title__sp .price__sp .gia_def{
    font-weight: 400;
    color: gray;
    text-decoration: line-through;

}

.title__sp .price__sp p span{
    font-weight: bold;
    color: red;
    font-size: 15px;
    text-decoration: none;
}
.cart__body .checkbox{


}
.cart .title__text{
    font-size: 24px;
    color: var(--font--color);
    font-weight: bold;
}
.form__Cart{
    border: 1px solid var(--font--color);
    display: flex;
    height: 35px;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-between;
}
.form__Cart .text{
    width: 100%;
    outline: none;
    padding: 0 10px;
    border: none;
}
.form__Cart .submit{
    width: 20%;
    border-radius: 0;

    font-weight: bold;
    background-color: var(--font--color);
    color: white;
    border: 1px solid var(--font--color);
}
.giohang__right {
    margin-left: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.32);
    background-color: white;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
.giohang__right h3{
    color: var(--font--color);
    text-align: center;
    font-weight: bold;
  
}
.right__carts_buton{
    display: flex;
    justify-content: right;
}
.right__carts_buton a{
    
    border: 1px solid var(--font--color);
    background-color: var(--font--color);
    color: white;
    font-weight: bold;
    padding:5px 15px;
    font-size: 20px;
}
.giohang__right div p{
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}
.giohang__right div p span{
    font-weight: bold;
}
.number__count{
    display: flex;
   font-size: 20px;
    align-items: center;
    justify-content: center;
}
.number__count i{
    font-size: 10px;
}
.number__count div{
padding: 0 10px;
}
.sanpham__giohang {
    display: flex;
    
}
.price_all{
    font-weight: bold;
    font-size: 18px;
    color: var(--font--color);
}
.sanpham__giohang{
    width: 260px;
}
/* .title__sp{
    width: 180px;
} */
/* kênh thanh toan */
.breadcrumb{
    --bs-breadcrumb-margin-bottom :0px  
        
   }
   
.thanhtoan_left{
 border: 1px solid white;
 box-shadow: 0 0 5px rgba(0,0,0,0.32);
background-color: white;
  padding: 20px 30px;
  margin-right: 2%;
  border-radius: 5px;
    
}
.form__thanhtoan{   
    
   
}

.thanhtoan_left input{
    width: 100%;
    height: 35px;
    outline: none;
    padding: 0 20px;
    border: 1px solid #2b20a161;
    border-radius: 7px;
}
.thanhtoan_left  textarea{
    border: 1px solid #2b20a161;
    border-radius: 7px; 
}
.thanhtoan_right{
    border: 1px solid white;
    box-shadow: 0 0 5px rgba(0,0,0,0.32);
    background-color: white;
    padding: 20px;
 
}
.thanhtoan_left h3,
.thanhtoan_right h3{
   
    color: var(--font--color);
    font-weight: bold;
}

.thanhtoan_left p{
    color: var(--font--color);
    font-weight: 600;
}
.thanhtoan_right div p{
    display: flex;
    justify-content: space-between;
   font-weight: bold
}
.thanhtoan_right div p span{
    font-weight: 500;
}
.fullname_name{
    width: 47%;
}
.fullname_ho{
    width: 50%;
}
textarea{
    width: 100%;
    outline: none;
    padding: 10px 20px;
}
.group__form1 span{
    color: var(--font--color);
    margin-left: 10px;
    font-weight: bold;
}
.form-check{
  
}
.thanhtoan_right hr{
    margin: 10px 0;
}
.form-check p.check{
    width: 100%;
    font-size: 14px;
    margin-left: 4px;
    color: gray;
    font-weight: 400;
    display: block;
}

.form-check p.check span{
color: var(--font--color);
}
.group__form .btn.mua{
    width:60%;
    border: 1px solid black;
    background: var(--font--color);
    color: white;
}
@media (max-width:1000px){
.thanhtoan_left .fullname_name,
.thanhtoan_left .fullname_ho
{
    width: 100%;
}


}
@media (max-width:767px){
    .product__cart .title__product>p{
        font-size: 10px;
    }
    .cart__left .table tbody tr td{
        width: 10%;
        font-size: 10px;
    }
    .table thead tr th{
        font-size: 15px;
    }
    .cart__left .table tbody tr td:first-child{
        width: 30%;
    }
    .thanhtoan_right{
        margin-top: 10px;
    }
}   