@import url('../css/bien.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font--color:#2B20A1;
    /* FONT */
    --Play: 'Play', sans-serif;
    --Ruda: 'Ruda', sans-serif;
    /* COLOR */
    /* Chủ đạo */
    --CD: #2B20A1;
    /* Nền */
    --Nen: #EAE8FF;
}
.prochitiet,
.productct__flex{
    background-color: white;
    padding: 30px 10px;
}
.productct__right{
    padding: 0 20px;
}
.productct__right hr{
    margin: 1rem 0;
}
.productct__text{
    /* background-color: red; */
    margin-top: 0px !important
}
.productct__right .stars i{
    color: #FFCE31;
    font-size: 18px;
}
.productct__right .stars span{
    font-size: 14px;
    font-family: var(--Play);
    color: gray;
}
.productct__flex .productct__right .productct__text h2{
    font-size: 30px;
    color: var(--font--color);
    font-family: var(--Play);
    font-weight: bold;
    
}
.productct__flex .productct__right .productct__text p{
    font-weight: 600;
    font-family: var(--Ruda);
    font-size: 20px;
    color: gray;
    /* background-color: red; */
}
.productct__flex .productct__right .productct__text p span{
    font-weight: 900;
    color: var(--font--color);
}
.productct__flex .productct__right .productct__text p span del{
    font-weight: 600;
    color: rgba(128, 128, 128, 0.63);
}
.productct__flex .productct__right .productct__text .price .price1{
    font-size: 23px;
    color: red;
}
/* TITLE SP TUONG TU */
.productCT__Bottom h2{
background-color: white;
color: var(--font--color);
padding: 10px 5px;
}
.pro_img{
    display: flex;
    justify-content: space-between;
}
.pro_img .img_small{
    width: 19%;
    cursor: pointer;
}
.productct__flex .productct__right .productct__text .price{
    font-family: var(--Ruda);
}
/* BUTTON SL - ADD CART - BUY NOW */
.productct__text .number__count{
    display: flex;
    align-items: center;
}
.productct__text .number__count .number__count_pr{ 
    width: 150px;
    text-align: center;
    background-color: #ff0000;
    padding: 3px 0;
    border-radius: 13px;cursor: pointer;
    margin-right: 20px;
}
.productct__text .number__count .number__count_pr p{
    color: #ffffff;
    font-weight: 900;
}
.number__count_pr .solid{
    padding: 0 15px;
}
.productct__text .number__count .addtoCart,
.productct__text .mua{
    font-family:var(--Play);
    font-weight: bold;
    border-radius: 13px;
    padding: 5px 0;
    text-align: center;
}
.productct__text .number__count .addtoCart{
    background: white;
    color: var(--CD);
    border: 2px solid var(--font--color);
    transition: all .7s;
}
.productct__text .number__count .addtoCart:hover{
    background: var(--CD);
    color: white;
    border-radius: 15px;
}
.productct__text .mua{
    font-size: 18px;
    background: var(--font--color);
    color: white;
    border: 2px solid var(--font--color);
    transition: all .4s;
}
.productct__text .btn:hover.mua{
    background: red;
    color: white;
    border-radius: 15px;
}
.icon__productct{
    padding: 5px 5px;
    font-size: 20px;
    /* background-color: #2B20A1; */
    font-family: var(--Ruda);
    margin-bottom: 0px;
}
.icon__productct a{
    font-weight: 600;
    transition: 0.5s;
}
.icon__productct a i{
    font-size: 25px;
    transition: 0.3s;
}
.icon__productct a:hover i{
    color: red;
}
.productct__tt{
    margin: 10px 0px;
}
.productct__tt p{
    margin: 3px 0px;
}
/* INFOR SHIP COMMET */
.prochitiet{
    padding: 40px 50px;
}
.prochitiet .nav{
    width: 100%;
    align-items: center;
    justify-content: center; 
    position: relative;
}
.prochitiet .nav::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    display: inline-block;
}
/* productchitiet__bottom */
.productchitiet__bottom .prochitiet .nav-tabs{
    --bs-nav-tabs-border-width:none;
}
.prochitiet .nav-item{
    width: 33.33%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}
.nav-link1{
    font-family: var(--Play);
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    background: transparent;
    border: none;
    padding: 4px 0;
}
.prochitiet .nav-link1.active{
    position: relative;
    color:var(--font--color);
}
.prochitiet .nav-link1.active::before{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: var(--CD);
    display: inline-block;
}
/* SHOW INFOR */
.tab-infor {
    padding-top: 20px;
}
.tab-infor div{
    font-family: var(--Ruda);
    font-size: 20px;
    padding: 8px 3px;

}
.tag{
    color: var(--CD);
    font-weight: 900;
    font-size: 22px;
}

/* SHOW SHIP */
/* SHOW CMT */
.cmt-title{
    font-family: var(--Play);
    padding-bottom: 10px;
}
.binhluan{
    display: flex;
    justify-content: space-between;   
    margin-top: 10px;
    border-top: 1px rgba(128, 128, 128, 0.418) solid;
    padding: 10px;
}
.binhluan:nth-child(odd){
    /* background-color: #2B20A1; */
}

.prochitiet .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    margin-right: 20px;
}
.prochitiet .image img{
    width: 100%;
    background-size: cover;
}
.binhluan__d{
    height: fit-content;
}
.binhluan__d .name{
    font-family: var(--Play);
    font-weight: bold;
    color: var(--CD);
    font-size: 20px;
}
.binhluan__d .ngaythang{
    font-family: var(--Ruda);
    color: rgba(128, 128, 128, 0.719);
    font-size: 13px;
}
.binhluan__d .title{
    font-family: var(--Play);
}


.chinhsua{
    position: relative;
    margin-bottom: 10px;
}
.binhluan .BinhLuan{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--font--color);
    width: 100%;
    background-color: red;
}
.binhluan ul{
    border: 1px solid black;
    width: 100px;
    background-color: white;
    position: absolute;
    top: 25px;
    right: 0;
}
.binhluan li{
    width: 100%;
    border-bottom: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}
.binhluan li:last-child{
    border-bottom: none;
}
.productct_thanhtoan{
    background-color: aliceblue;
    text-align: center;
    padding: 10px 0;
}
/* bình luận */
.BinhLuan{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}
.BinhLuan .binhluan1{
    border:none;
    outline: none;
    width: 80%;
    padding: 0 20px;
    font-family: var(--Play);
    font-size: 18px;
    border-radius: 15px 0px 0px 15px;
    border: 3px var(--CD) solid;
}
.BinhLuan .binhluan1::placeholder{
    font-family: var(--Play);
}
.prochitiet form .gui{
    width: 20%;
    background-color: var(--font--color);
    border: 2px var(--CD) solid;
    color: white;
    font-family: var(--Play);
    font-size: 20px;
    border-radius: 0px 15px 15px 0px;
}
.dlt{
    font-family: var(--Play);
}
.dlt a{
    font-size: 18px;
    transition: 0.4s;
}
.dlt a:hover{
    font-weight: bold;
    font-weight: 600;
    font-size: 20px;
}
.fa-gear{
    cursor: pointer;
}
.activeE{
    display: none;
}
@media (max-width:767px){
    .prochitiet .nav-item .nav-link1{
    font-size: 13px;
   } .prochitiet form .gui{
    width: 15%;

    }
    .productct__text .number__count .addtoCart{
        padding: 10px 20px;
    }
    
.productct__text img {
    width: 100%;
}
}
@media (max-width:767px){
    .prochitiet .nav-item .nav-link1{
    font-size: 13px;
   } 
   .prochitiet form .gui{
    width: 20%;

    }
    .cmt-title{
        font-size: 15px;
        margin-left: 10px;
    }
    .productct__text .number__count .addtoCart{
        padding: 10px 20px;
    }
    .prochitiet form .gui{
        font-size: 15px;
    }
.productct__text img {
    width: 100%;
}
}
@media (max-width:450px){
    .prochitiet{
        padding: 40px 10px;
    }
    .tab-infor div{
        font-size: 15px;
    }   
    .tag{
        font-size: 18px;
    }
}