
@import url('../css/products.css');
@import url('../css/product.css');
@import url('../css/blog.css');
@import url('dangnhap1.css');
@import url('../css/user.css');
@import url('../css/bien.css');
@import url('reponsive.css');
:root{
    --font--color:#2B20A1;
    /* FONT */
    --Play: 'Play', sans-serif;
    --Ruda: 'Ruda', sans-serif;
    /* COLOR */
    /* Chủ đạo */
    --CD: #2B20A1;
    /* Nền */
    --Nen: #EAE8FF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #9086fb23;
}
p{
    margin-bottom: 0;
}
a{
    color: black;
    text-decoration: none;
}
/* BEGIN HEADER */
header{
    background-color: white;
}
.header__desktop{
    background-color: white;
}
.header__top{
    border-bottom: 1px solid black;
    padding: 5px 0;
    text-align: center;
    color: white;
    background-color: var(--font--color);
}
.header__top_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__top_item>p{
    font-family: var(--Play);
    font-weight: bold;
}
.header__top_icon a {
    color: white;
    text-align: center;
    margin-right: 30px;
}
.header__top_icon a:last-child{
    margin-right: 0;
}
.header__main {
    border-bottom: 1px solid black;
}
.header__main .form__search{
    border: 1px solid #808080;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.header__main .form__search input:nth-child(1){
    border-radius: 10px 0px 0px 10px;
}
.header__main .form__search input:nth-child(2){
    border-radius: 0px 10px 10px 0px;
    border: 1px var(--CD) solid;
}
.header__main form .submit{
    height: 40px;
    padding: 0 20.7px;
    background-color: var(--font--color);
    color: white;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    border: 1px solid var(--font--color);
    font-weight: bold;
} 
.header__main form .search{
    width: 87%;
    height: 40px;
    outline: none;
    padding: 0 20px;
    border: none;
}
/* MAIN BEGIN */
main{
    position: relative;
    top: 20px;
}
/* HEAD MAIN */
.carousel{
    position: relative;
}
.container-md{
    /* background-color: #2B20A1; */
}
.danhmuc{
    padding: 40px 30px;
    font-family: var(--Play);
    background-color: white;
    width: 21%;
    height: 455px;
    margin: 0px;
}

ul{
    padding-left: 0;
}
.danhmuc nav ul li{
    width: 100%;
    list-style: none;
    padding: 5px 10px;
    border-bottom: 0.1em solid #ff000059;
    font-size: 15px;
}

/* BANNER */
.banner{
    margin-left: 1%;
    width: 78%;
}
.banner .carousel-caption{
    font-family: var(--Play);
    top: 0;
}
.banner img{
    width: 100%;
}
.banner__bottom{
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner__bottom .img__banner{
    width:33.33%;
    margin: 0px 3px;
    margin-top: 5px;
    position: relative;
}
.product__banner_hot >h1{
    font-family: var(--Play);
}
.banner__bottom .img__banner img{
    width: 100%;
    height: 100%;
}
.banner__bottom .img__title{
    position: absolute;
    padding: 20px 20px;
    width: 70%;
    transform: scale(1);
    transition:all .5s;
}
.banner__bottom .img__title h3{
    font-size: 20px;
}
.banner__bottom .img__title p{
    font-size: 16px;
}
.banner__bottom .img__banner {
    width: 100%;
}
/* TITLE SHIPPY */
.shippy{
    margin-top: 5px;
}
.shippy__box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.shippy__item{
    width: 24%;
    display: flex;
    gap: 5px;
    margin: 5px 0;
    background-color: white;
    padding: 15px 25px;
    border-radius: 5px;
}
.shippy__item i{
    font-size: 30px;
    color: var(--font--color);
    font-weight: bold;
    margin-right: 10px;
}
.shippy_itemd h3{
    font-size: 15px;
    margin-bottom: 0;
    font-weight: bold;
    font-family: var(--Ruda);
}
.shippy__item p{
    font-family: var(--Ruda);
    font-size: 12px;
    color: var(--font--color);
}
/* BANNER DANH MỤC */
.banner__hai .row .banner__item{
    width: 33%;
    margin: 0px auto;
    position: relative; 
}
.banner__hai .row .banner__item img {
    height: 150px;
    position: relative;
    border-radius: 10px;    
}
.banner__hai .row .banner__item::after{
    position: absolute;
    border-radius: 10px;    
    top: 0;
    left: 0;
    content: '';
    display:inline-block;
    padding-right:10px ;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.56);
    
}
.banner__hai .row .banner__item .banner__hai__text{
    position: absolute;
    color: white;
    top: 20px;
    z-index: 2;
    font-family: var(--Play);
}
.banner__hai .row .banner__item .banner__hai__text p{
    font-size: 13px;
    margin: 0px;
}
.banner__hai .row .banner__item .banner__hai__text h3{
    font-weight: bold;
    margin: 0px;
}
.banner__hai .row .banner__item .banner__hai__text.left{
    left: 30px;
}
.banner__hai .row .banner__item .banner__hai__text.right{
    right: 30px;
    text-align: right;
}
.banner__hai .row .banner__item:last-child{
    padding-right: 0;
}
/* BLOG BEGIN */
.blog__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog__item{
    width: 24%;
    margin-right: 1%;
    background-color: #fff;
    border-radius: 10px;
}
.blog__box .blog__item:last-child{
    margin-right: 0;
}
.blog__item .blog__header{
    width: 100%;
}
.blog__item .blog__header img{
    width: 100%;
}
.blog__item .blog__body{
    padding: 5px 12px;
    border-bottom: 1px solid var(--CD);
    font-family: var(--Ruda);
}
.blog__item .blog__body p:nth-child(1){
    font-size: 12px;
    color: rgba(128, 128, 128, 0.651);
 }
.blog__item .blog__body h3{
    font-size: 20px;
    color: var(--CD);
    font-weight: 600;
}
.blog__item .blog__body h4{
    font-size: 14px;
    color: rgba(128, 128, 128, 0.87);
}
.blog__item .blog__body h4 strong{
    color: var(--CD);
}
.blog__item .blog__body p:nth-child(4){
    font-size: 12px;
}
.blog__item .blog__footer{
   padding: 5px 15px;
   display: flex;
   justify-content: space-between;
   font-family: 'Ruda', sans-serif;
}
/* footer */
    footer{
        background-color: #fff;
        padding: 10px 0;
    }
.row{
    margin: 0;
    --bs-gutter-x:0
}
 
    .footer__item h3{
        font-size: 16px;
        font-weight: bold;
    }
.footer__bottom .row .col-12 h2{
text-align: center;
font-size: 24px;
}
.footer__bottom .row h3{
font-size: 20px;
}
.footer__bottom{
    padding: 20px 0;
}
footer{
    background: url('../img/banner/footer.png');
    color: white;
    padding-top: 40px;
}
.footer__bottom i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    margin-right: 4px;
    cursor: pointer;
    margin-top: 5px;
    border:1px solid white;
    transition: all .5s;
}
.footer__bottom .col-4 i:hover{
    background-color: white;
    color: var(--font--color);
   }
    /*  contact */ 
    .nut_chinh{
        width: 100%;
        font-size: 20px;
        background: var(--font--color);
        color: white;
        border: none;
        box-shadow: 2px 2px 4px rgba(0,0,0,.3);
        transition: all .5s;
    }
    .nut_chinh:hover{
        background: transparent;
        color: var(--font--color);
        border: 1px solid var(--font--color);
    }
.contact__left{
    padding-right: 50px;
}
.contact__left form .form__group p{
    color: var(--font--color);
    font-weight: bold;
}
.contact__bottom{
    background-color: #fff;
    padding: 30px 40px;
}
    .contact__left input{
    height: 50px;
    outline: none;
    padding: 0 20px;
    border-radius: 10px;
    border: 1px solid #2b20a16e;
}
.contact__left textarea{
    border-radius: 10px;
    border: 1px solid #2b20a16e;  
}
.contact__left .group_flex .form__group>input{
    width: 96%;
}
.contact__right .contact__title h4{
    font-size: 18px;
    margin-bottom:0;
    color: var(--font--color);
    
}
.contact__right .contact__title i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    margin-right: 4px;
    cursor: pointer;
    margin-top: 5px;
    border:1px solid var(--font--color);
    transition: all .5s;
   }
.contact__right .contact__title i:hover{
    background-color: var(--font--color);
    color: white;
   }
.header__menu{
    font-family: var(--Play);
    background-color: var(--font--color);
    color: white;
}
.menu__item ul {
    /* background-color: aqua; */
}
.menu__item ul li a{
    color: white;
}
.contact h1,
.contact h2{
    color: var(--font--color);
    font-family: 'Play', sans-serif;
}
label{
    color: red;
    opacity: 0;
    visibility:hidden;
    transition: 0.5s ease;
}
