@import url('../css/mess.css');

@import url('../css/danhmuc.css');

@import url('../css/add_blog.css');
@import url('../css/content.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html {
  
}

.zindex{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
z-index: 1;

}

/* .navbar{
    position: relative;
  top: 70px;
  z-index: 1000;
} */
.hidden{
    display: none;
}
.fa-hidden{
    display: none;
}
a{
    text-decoration: none;
   
}
li{
    list-style: none;
}

.menu_width{
    
}
.table--title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.table--title h3{
    font-size: 21px;
}
.table--admin {
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    padding: 20px 30px;
}
.menu__a{
  
   width: 100%;
    background-color: brown;
    height: 100vh;

    padding: 30px 0;
    
}


.menu__item li{
    width: 100%;
    
   padding: 10px 20px;
   margin: 8px 0;
}
.menu__item li>i,
.menu__item li a{
color: white;
}
.khoi1__admin{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menua{
    position: absolute;
    top: 0;
    left: 0;
}

ul{
    padding: 0;
}
.menu__item li a>i{
    margin-right: 10px;
}
.menu__item li>i{
    margin-left: 60px;
}
.protofile{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.right__admin .img,
.temer{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.right__admin .img img,
.temer img{
    width: 100%;
    
}


.admin__body__top{
position: absolute;
    width: 100%;
    height: 70px; 
    border-bottom: 1px solid black;
   background-color: white;

}
.admin__body__top>i{
    position: absolute;
    color: rgb(0, 0, 0);
    left: 20%;
    font-size: 20px;
    cursor: pointer;
   
 


}
.right__admin{
    position: absolute;
    right: 0;
    top: 10px;
    display: flex; font-size: 17px;
    align-items: center;
}
.navbar{
    --bs-navbar-padding-y:0px;

}
.form__admin{
    width: 10%;
}
.right__admin i{
    margin-right: 20px;
}
.right__admin img{
    margin-right: 20px;
}
.right__admin--box{
   
    display: flex;
    align-items: center;
}
/* body */
.admin_body{
    width: 80%;
    position: absolute;
  
}
.admin_body div{
color: rgb(0, 0, 0);
}
.madon p{
font-weight: bold;
font-size: 17px;
}

.madon .ngaythang{
    font-size: 13px;
}
.do{
    background-color: red;
}
.cam{
    background: orange;
}
.xanh{
    background: chartreuse;
}
.tron{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
    vertical-align: middle;
    margin-right: 5px;
}
/* xài chug */
.khoi__admin{display: flex;
justify-content: space-between;
background-color: white;
box-shadow: 0 0 5px rgba(0,0,0,0.4);
padding: 5px 10px;
}
.left__admin{
    position: absolute;
    left: 250px;
    top: 25px;
    display: flex; 
    font-size: 17px;
    
    
}
.tranX{
    transform:translateX(-600%);
    transition: all 2s;
}
.collapse:not(.show){
    display: block;
}
.transXhidden{
    transform: translateX(0%);
    transition: all 2s;
}
@media (min-width:200px) {
    .menu__a{
        width:100%;
        
        
    }
    .menu__item li.active{
        width: 100%;
        background-color: aliceblue;
        
    }
    .navbar{
        width: 100%;
    }
    .menu__item li{
        width: 220px;
    }
    .menu__item li>i{
        margin-left: 6px;
    }
    .admin_body{
        left: 10%;
        top:12%;
    }
    .navbar{
        position: absolute;
      top: 0;
      z-index: 1000;

    }
}
@media (min-width:768px) {
    .menu__a{
 
        z-index: 111;
    }
    .menu__item li>i{
        margin-left: 30px;
    }
    .admin_body{
        left: 15%;
        top:10%;
    }
   
}
@media (min-width:1280px) {
    .menu__a{
        width:17%;
       
    }
    .menu__item li>i{
        margin-left:6px ;
    }
    .navbar{
        position: relative;
      top: 0;
      z-index: 1000;
    }
  .admin_body{
        left: 18%;
            
    }
}
@media (min-width:1580px) {
    .menu__a{
        width:15%;
    }
    .menu__item li.menu_item{
        display: flex;
      width: 220px;
      position: relative;
     
    }
    .menu__item li.menu_item>i{
        padding-left: 40px;
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%,-50%);
       
    }
    .admin_body{
        left: 15%;
            
    }
  
}
@media (min-width:1700px){
    .menu__item li.active{
        width: 105%;
        background-color: aliceblue;
    }
}